@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
  }

.component-headers {
    color: grey;
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(211, 211, 211);;
}

.grid-main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px 1fr;
    height: 100vh;
    overflow: hidden;
}

.grid-main-header {
    grid-column: 1/3;
    text-align: center;
    background-color: rgb(219, 219, 219);
    padding: 0.3rem 0 0 0;
}

.grid-main-1 {
    justify-self: center;
    list-style: none;
    width: 80%;
}

.grid-main-1 > li {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(231, 231, 231);;
}

.grid-main-2 {
    overflow-y: scroll;
}

.links {
    color: rgb(167, 167, 167);
    font-weight: 500;
}

.links.active{
    color: rgb(21, 124, 128);
}

.links:hover {
    color: rgb(56, 56, 56);
}


h1 {
    color: grey;
}

.avatar {
    border: 5px solid rgb(255, 133, 133);
    display: inline-block;
    border-radius: 50%;
    width: 10rem;
}

.primary-alert {
    border: 1px solid rgb(70, 141, 163, 0.5);
    background-color: rgb(198, 225, 233);
    color: rgb(46, 98, 116);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.warn-alert {
    border: 1px solid rgb(163, 70, 70, 0.5);
    background-color: rgb(233, 198, 198);
    color: rgb(116, 46, 46);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.success-alert {
    border: 1px solid rgba(78, 163, 70, 0.5);
    background-color: rgb(199, 233, 198);
    color: rgb(48, 116, 46);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.secondary-alert {
    border: 1px solid rgb(160, 160, 160, 0.5);
    background-color: rgb(233, 233, 233);
    color: rgb(99, 99, 99);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.badge-icon {
    display: inline-block;
    position: relative;
}

.badge-icon > span {
    color: rgb(255, 255, 255);
    position: absolute;
    right: -5px;
    top: -8px;
    background-color: red;
    border-radius: 50%;
    font-size: 12px;
    padding: 1px 2.5px;
}

.badge-avatar {
    display: inline-block;
    position: relative;
}

.badge-avatar > span {
    background-color: rgb(4, 167, 4);
    border: 3px solid white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: 2%;
    right: 20%;
}

.btn-primary {
    background-color: rgb(97, 192, 230);
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: rgb(73, 147, 177);
}

.btn-secondary {
    background-color: rgb(199, 199, 199);
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(87, 87, 87);
    font-weight: 600;
}

.btn-secondary:hover {
    background-color: rgb(180, 180, 180);
}

.btn-icon {
    background-color: rgb(91, 195, 255);
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(87, 87, 87);
    font-weight: 600;
    color: white;
}

.btn-icon:hover {
    background-color: rgb(70, 143, 185);
}

.btn-link {
    text-decoration: none;
    background-color: rgb(176, 91, 255);
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn-link:hover {
    background-color: rgb(125, 65, 182);
}

.btn-float {
    text-decoration: none;
    background-color: rgb(189, 1, 1);
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.4rem 0.5rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.411);
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.btn-float:hover {
    background-color: rgb(151, 1, 1);
}

.simple-card {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.218);
    border-radius: 0.2rem;
    box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.181);
    position: relative;
}

.simple-card>h2 {
    margin: 0 0.8rem;
    margin-top: 1rem;
}

.simple-card>p {
    margin: 1rem 0.8rem;
    font-size: small;
}

.simple-card>span {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.badge-card {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: 1px solid rgba(192, 49, 49, 0.218);
    border-radius: 0.2rem;
    position: relative;
}

.badge-card>h2 {
    background-color: rgba(255, 101, 101, 0.123);
    padding: 1rem 0 0.8rem 0.8rem;
    margin: 0;
}

.badge-card>p {
    margin: 1rem 0.8rem;
    font-size: small;
}

.badge-card>span {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 0.8rem;
    background-color: rgb(218, 42, 42);
    color: white;
    padding: 0 0.7rem;
}

.badge-card:hover {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.181);
}

.horizontal-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(112, 112, 112, 0.218);
    border-radius: 0.2rem;
    box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.181);
    position: relative;
}

.horizontal-card>h2 {
    background-color: rgba(202, 202, 202, 0.123);
    padding: 1rem 0 0.8rem 0.8rem;
    margin: 0;
    text-align: center;
}

.horizontal-card>p {
    margin: 1rem 0.8rem;
    font-size: small;
}


.image-card {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: 1px solid rgba(136, 136, 136, 0.218);
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.181);
}

.image-card>img {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.image-card>h2 {
    text-align: center;
    padding: 1rem 0 0rem 0rem;
    margin: 0;
}

.image-card > p {
    margin: 1rem 0.8rem;
    font-size: small;
    text-align: center;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.round-img {
    border-radius: 50%;
}

.textbox {
    width: 20%;
    height: 10rem;
    outline: none;
    border: 1px solid rgb(41, 135, 185);
}

.textbox:focus {
    border: 1px solid rgb(98, 197, 255);
    box-shadow: 0 0 5px 2px rgba(112, 203, 255, 0.37);
}

.form-container {
    margin: 1rem 0rem;
    border: 1px solid rgba(69, 140, 180, 0.603);
    display: flex;
    padding: 1rem 1rem;
    width: 20rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.form-container>button {
    width: 100%;
    background-color: blue;
}

.form-header {
    margin-bottom: 1rem;
}

.input-container {
    margin-bottom: 1rem;
    width: 100%;
}

.input-container>input {
    outline: none;
    width: 100%;
    border-radius: 0.2rem;
    border: 1px solid rgb(173, 173, 173);
    padding: 0.3rem 0.5rem;
}

.input-container>label {
    font-size: small;
    color: rgb(77, 77, 77);
}

.input-container>input:focus {
    border: 1px solid rgb(98, 197, 255);
}

.btn-submit {
    width: 100%;
}

.btn-submit-container {
    width: 100%;
}

.spaced-list-container {
    list-style: none;
}

.spaced-list-container>li {
    border: 1px solid rgba(134, 173, 180, 0.76);
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem;
    display: inline-block;
    border-radius: 5px;
}

.stacked-list-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stacked-list-container>li {
    display: flex;
    flex-direction: row;
    width: 40rem;
    border-bottom: 1px solid rgb(172, 172, 172);
    padding: 0.6rem 0.6rem;
    justify-content: space-evenly;
    align-items: center;
}

.stacked-list-container>li>img {
    width: 4rem;
}

.stacked-list-container>li>p {
    width: 31rem;
    font-size: small;
}

.stacked-list-container>li>span {
    width: 1rem;
    align-self: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 1rem 0;
}

.nav-header {
    flex: 1 1;
    color: rgba(47, 81, 87, 0.788);
    padding-left: 5rem;
}

.nav-list {
    display: flex;
    list-style: none;
    flex: 1 1;
    justify-content: space-around;
}

.nav-list>li {
    color: rgba(76, 128, 145, 0.795);
    font-weight: 500;
    cursor: pointer;
}

.nav-list > li:hover {
    color: rgba(44, 78, 90, 0.986);
    font-weight: 500;
}

.modal {
    border: 1px solid rgb(204, 204, 204);
    width: 25rem;
    height: 11rem;
    position: relative;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px 0px rgb(212, 212, 212);
}

.modal>h1>span {
    position: absolute;
    right: 0.5rem;
    top: 0.7rem;
}

.modal>h1 {
    font-size: 1.5rem;
    height: 2.5rem;
    border-bottom: 1px solid rgb(181, 202, 204);
}

.modal>p {
    height: 5rem;
    font-size: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(181, 202, 204);
}

.modal>button {
    position: absolute;
    height: 2rem;
    width: 20%;
    right: 0.5rem;
    bottom: 0.5rem;
}

.hd-1 {
    font-size: 2.1rem;
}

.hd-2 {
    font-size: 1.5rem;
}

.hd-3 {
    font-size: 1.2rem;
}

.hd-4 {
    font-size: 1rem;
}

.hd-5 {
    font-size: 0.85rem;
}
.center-text {
    text-align: center;
}

.grey-text {
    color: darkgrey;
}

.toast {
    background-color: rgba(0, 158, 197, 0.534);
    width: 15rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 0px rgb(212, 212, 212);
}

.toast > p {
    flex: 8 1;
    color:rgb(255, 255, 255);
}

.toast > span {
    flex: 1 1;
    color:rgb(209, 209, 209);
    cursor: pointer;
}

.toast > span:hover {
    color:rgb(224, 224, 224);
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.grid-item-1-2 {
    border-right: 1px solid rgb(202, 202, 202);
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 40px;
}


